form#fruits{
   // Abstand nach oben, für einige Elemente
   .top-buffer {
      margin-top: 20px;
   }
   #fruitphoto-label, #fruitphoto-element{
      display:none;
   }
   #color{
      @include text-shadow(
            white 0 0 8px,
            white 0 0 8px,
            white 0 0 8px,
            white 0 0 8px,
            white 0 0 8px
      );
      text-align: center;
   }
   #price,#kcal{
      text-align: right;
   }
}
.fruit-color {
   height: 30px;
   width: 30px;
   display: block;
   border-radius: 3px;
}