nav{
    .logo_small{
      padding: 7px 0 0 10px;
  }

  -webkit-box-shadow: -3px 14px 15px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: -3px 14px 15px -7px rgba(0,0,0,0.75);
  box-shadow: -3px 14px 15px -7px rgba(0,0,0,0.75);
  padding: 0 300px;
  margin: 0 -300px;


  .usermenu, .adminmenu, .loginmenu {
    padding-right: 50px;
  }

  .menu, .usermenu, .adminmenu .loginmenu{
    display: inline;
  }
  .menu{
     padding-left: 25px;
   }
}
