/* line 2, ../sass/_navigation.scss */
nav .logo_small {
  padding: 7px 0 0 10px;
}
/* line 6, ../sass/_navigation.scss */
nav .usermenu, nav .adminmenu, nav .loginmenu {
  padding-right: 50px;
}
/* line 10, ../sass/_navigation.scss */
nav .menu, nav .usermenu, nav .adminmenu .loginmenu {
  display: inline;
}
/* line 13, ../sass/_navigation.scss */
nav .menu {
  padding-left: 25px;
}

/*.navbar {
 */
 /* background-color: transparent;
background: transparent;*/
                           /*
*/
/* border: none;*/
                    /*
*/
 /* -webkit-box-shadow: -3px 14px 15px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 14px 15px -7px rgba(0,0,0,0.75);
box-shadow: -3px 14px 15px -7px rgba(0,0,0,0.75);*/
                                                     /*
  padding-bottom: 17px;

}*/
/*
.navbar  li{
  display:       inline;
  font-size:     17px;
  padding-top:    9px;
}
.navbar-right{
  padding-right: 10px;
}

*/
/* line 6, ../sass/styles.scss */
body {
  padding-top: 70px;
}
