/* line 2, ../sass/_navigation.scss */
nav .logo_small {
  padding-top: 15px;
  padding-left: 16px;
}

/*.navbar {
 */
 /* background-color: transparent;
background: transparent;*/
                           /*
*/
/* border: none;*/
                    /*
*/
 /* -webkit-box-shadow: -3px 14px 15px -7px rgba(0,0,0,0.75);
-moz-box-shadow: -3px 14px 15px -7px rgba(0,0,0,0.75);
box-shadow: -3px 14px 15px -7px rgba(0,0,0,0.75);*/
                                                     /*
  padding-bottom: 17px;

}*/
/* line 20, ../sass/_navigation.scss */
.navbar li {
  display: inline;
  font-size: 17px;
  padding-top: 9px;
}

/* line 25, ../sass/_navigation.scss */
.navbar-right {
  padding-right: 10px;
}

/* line 3, ../sass/styles.scss */
body {
  color: b lack;
  background: green;
}
